body{
    margin: 0;
}
body, button, input{
    font-family: 'Raleway', sans-serif;
}
/*HEADER*/
header{
    display: flex;
    flex-wrap: wrap;
}
header img{
    padding: 48px 0;
}
nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}
nav a{
    width: 162px;
    text-align: center;
    padding-top: 48px;
    border-top: 3px solid #F2F2F2;
}
nav a:hover{
    border-color: #0065FC;
}
header span{
    padding-right: 28px;
    padding-top: 48px;
}
header span a{
    color: #0065FC;
    font-weight: bold;
}
.titreSoustitre{
    flex-basis: 100%;
    margin-bottom: 20px;
}
/*SECTION RECHERCHE*/
.iconeRecherche{
    display: none;
}
.recherche{
    margin-bottom: 35px;
}
.champRechercher{
    display: flex;
    margin-bottom: 3%;
}
.fa-map-marker-alt{
    padding: 16.5px 19px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
input[type=search]{
    width: 234px;
    height: 51px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
input[type=submit]{
    width: 134px;
    height: 51px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
input[type=submit]:hover{
    color: #0065FC;
    background-color: white;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filtres h3{
    margin-right: 30px;
}
.filtres button{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.06rem;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    background: none;
    padding: 0 20px 0 0;
    margin-right: 24px;
    outline: none;
    cursor: pointer;
}
.icone{
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
}
.filtres button:hover .icone{
    color: black;
    background-color: white;
    border-color: #F2F2F2;
}
.filtres button:hover{
    background-color: #DEEBFF;
    color: #0065FC;
}